*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    max-width: 1400px;
    padding:  10px 10px;
    margin: auto;
    height: 70px;
}

nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-size: 35px;
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    color: #333;
}

nav li {
    display: inline-block;
}

nav ul li a {
    padding: 0 44px;
    transition: 0,6s;
    font-family: "Bellefair", serif;
    font-size: 20px;
}

nav li a {
    display: inline-block;
    color: #333;
    text-decoration: none;
}

nav li a:hover {
    background-color: #8a516800;
}

.dropdown-menu {
    position: absolute;
    box-shadow: 1px 1px 1px #333;
    display: none;
    background-color: #8a516800;
}

.dropdown-menu a {
    display: block;
    color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #8a51683b;
}

.impact {
    background-color: #8a516813;
    color: #333;
    font-family: "Bellefair", serif;
    font-style: normal;
    font-size: 107px;
    padding: 20px 25px;
    font-weight: lighter;
}

.imagens {
    list-style: none;
    display: flex
}

.first-page {
    height: 390px;
    width: 726px;
}

.welcome-phrase {
    background-color: #8a516813;
    color: #333;
    font-family: "Bellefair", serif;
    font-style: normal;
    font-size: 100px;
    padding: 40px;
    font-weight: lighter;
}

.presentation-phrase {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 90px;
}

.about-daniele {
    height:490px;
}

.container-side {
    display: flex;
    align-items: center;
    margin-right: 90px;
    margin-left: 70px;
    margin-top: 20px;
}

.advantages-image {
    height:630px;
    width: 700px;
}

.advantages-paragraph {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    margin-left: 90px;
    margin-right: 20px;
}

.advantages-list {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    margin-left: 30px;
}

.advantages-list-image {
    height: 350px;
    margin-left: 265px;
}

.children {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 90px;
}

.children-picture {
    height: 400px;
    width: 550px;
}

.parents-paragraph {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    margin-left: 90px;
    margin-right: 20px;
}

.parents-image {
    height: 400px;
    width: 550px;
}

.groups-paragraph {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 90px;
}

.groups-image {
    height: 380px;
    width: 550px;
}

.container-contact {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.logos {
    display: inline;
    text-decoration: none;
}

.logos a {
    text-decoration: none;
}

.social-links {
    height: 70px;
    padding: 5px;
    margin-inline: 12px;
}

.subtitle-1 {
    color: #333;
    font-family: "Bellefair", serif;
    font-style: normal;
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.subtitle-2 {
    color: #333;
    font-family: "Bellefair", serif;
    font-style: normal;
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 20px;
}

details summary {
    background-color: #8a51683b;
    padding: 2%;
    color: #333;
    border-color: #333; 2px
    width: 550px;
    font-size: 20px;
}

.questions {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 90px;
}

section details p {
    background-color: #8a51683b;
    color: #08153a;
    padding: 30px;
    margin: auto;
}

form input,
textarea,
form button {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 10px;
}

form textarea {
    resize: none;
    height: 110px;
}

form button{
    background-color: #333;
    color: #fff;
    border-radius: 0;
    border-style: none;
    border-width: 6px;
    cursor: pointer;
    text-transform: none;
}

form button:hover{
    background-color: #8a51683b;
}

input:focus, textarea:focus {
    outline-style: outset;
    outline-color: #333;
}

footer {
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    background-color: #8a51683b;
    color: #333;
}